.all-nav {
  background-color: #3a62f4;
  height: 60px;
  display: flex;
  align-items: center;
  width: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.all-menu {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: auto;
  align-items: center;
}
.sign-in {
  margin-left: 50px;
}
.logo a {
  color: white;
  text-decoration: none;
}
.cart {
  cursor: pointer;
}
/* slider section */
.slider {
  height: 600px;
}
.image {
  height: 600px;
}
.all-btn {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.right-arrow {
  margin-right: 15px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  margin-left: 15px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.crs-btn {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* products section */
.image-product {
  height: 250px;
  width: 200px;
}
.card {
  background-color: rgb(72, 34, 209);
  height: 300px;
  width: 235px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0px 0px 0px grey;
  transition: box-shadow 0.6s ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}
.card:hover {
  box-shadow: 1px 8px 20px grey;
  transition: box-shadow 0.6s ease-in;
}
.description {
  margin-top: 15px;
}
.praces {
  display: flex;
  margin: 5px;
}

/* details page  */
.img-detail img {
  margin-top: 15px;
  width: 100%;
  height: 400px;
}
.description-detail {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 32px;
  display: flex;
  align-items: center;
}
.praces-detail {
  margin-top: 150px;
  display: inline;
  font-size: 64px;
  color: #3a62f4;
}
.quantity {
  display: flex;
  gap: 15px;
  margin: 15px;
}
.quantity-txt {
  margin-right: 30px;
}

.quantity-btn-decrement {
  border: 1px solid;
}
.quantity-btn-increment {
  border: 1px solid;
}

input:focus {
  outline: none;
}
.count input {
  border: none;
  width: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.cart-btn {
  margin-top: 30px;
  width: 100%;
  display: flex;
  gap: 15px;
}

.buy {
  width: 250px;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.add {
  background-color: red;
  border-color: red;
}
.buy:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.add:hover {
  color: #fff;
  background-color: rgb(60, 0, 255);
  border-color: rgb(174, 0, 255);
}

/* cart */
.image-cart {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.25),
    0px 0px 1px 1px rgba(9, 30, 66, 0.13);
  align-items: center;
  padding: 15px;
  /* justify-content: space-between; */
}
.img-cart {
  width: 55px;
}

.img-cart img {
  width: 40px;
  height: 40px;
}

.discrap {
  width: 160px;
}
.price {
  width: 50px;
}
.close-icon {
  width: 30px;
}
.product-quantity {
  width: 30px;
  /* flex-direction: column;
  justify-content: center; */
  text-align: center;
  padding-top: 0;
  align-self: center;
  padding-bottom: 5px;
}
.up-icon {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.down-icon {
  border: none;
  background: none;
  padding: 0;
  margin-bottom: 10px;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
